@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body { 
    background-color: #fe9801; 
    color: black; 
    text-align: center; 
    font-family: "Inter", sans-serif;
  } 
    
  .container { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
  } 
    
  .heading { 
    margin-bottom: 20px; 
    font-size: 16pt; 
    font-weight: 600;
    color: black; 
  } 
    
  .header { 
    display: flex; 
    align-items: center; 
  } 
    
  .timer, .errors, .accuracy, 
  .cpm, .wpm { 
    background-color: #ccda46; 
    width: 70px; 
    margin: 8px; 
    padding: 12px 7px; 
    border-radius: 7px; 
  } 
  .cpm, .wpm  { 
    display: none; 
  } 
    
  .header_text { 
    text-transform: uppercase; 
    font-size: 8pt; 
    font-weight: 600; 
  } 
    
  .curr_time, .curr_errors, 
  .curr_accuracy, .curr_cpm, 
  .curr_wpm { 
    font-size: 14pt; 
  } 
    
  .quote { 
    background-color: #ccda46; 
    font-size: 14pt; 
    margin: 10px; 
    padding: 7px;
    border-radius: 7px;
  } 
    
  .input_area { 
    background-color: #f5f5c6; 
    height: 80px; 
    width: 40%; 
    font-size: 14pt; 
    font-weight: 600; 
    margin: 15px; 
    padding: 20px; 
    border: 0px; 
    border-radius: 7px;
  } 
    
  .restart_btn { 
    display: none; 
    background-color: #ccda46; 
    border-radius: 7px;
    font-size: 14pt; 
    padding: 10px; 
    border: 0px; 
  } 
    
  .incorrect_char { 
    color: red; 
    text-decoration: underline; 
    font-weight: 600;
  } 
    
  .correct_char { 
    color: darkgreen; 
    text-decoration: underline; 
    font-weight: 600;
  } 
.footer{
  display: flex;
  width: 90%;
  margin-top: 50px;
  margin-left: 5%;
  height: 50px;
  justify-content: center;
  border-top: 1px solid #fcfcfc;
  align-items: center;
}
.f-text{
  display: flex;
  width: 50%;
  height: 50px;
  justify-content: space-around;
  align-items: center;
}
.footer a{
  text-decoration: none;
}
.footer p{
  color: #ebebeb;
  font-size: 12pt;
  transition: .2s ease-in-out;
}
.footer p:hover{
  color: white;
}